body{
    overflow-x: hidden;
    background: #000;
}   
/* font-family: "Inter", sans-serif;
  font-optical-sizing: auto; */
  .inter{
     font-family: "Inter", sans-serif;
  }
input{
    outline: none;
}
.loading-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* Adjust as needed */
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #007bff;
    /* Change color as needed */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    /* border-radius: 12px; */
    /* border: 1px solid rgba(255, 255, 255, 0.125); */
}
textarea{
    outline: none;
}
*{
 padding: 0px;
 user-select: none;
 margin: 0px;
 font-family: 'Rubik', sans-serif;
}
.input{
    /* background-color: black; */
    /* border-bottom: 3px solid gray; */
    outline: none;

}
.sb::-webkit-scrollbar{
    background-color: rgba(128, 128, 128, 0.13);
    visibility: hidden;
}
.sb::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.323);
    visibility: hidden;
}
.sb::-webkit-scrollbar-track{
    height: 10vh;
}
.input::placeholder{
    /* color: rgba(0, 0, 0, 0.345); */
    opacity: 1;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}
@media (max-width: 640px){
  
}