body{
    overflow-x: hidden;

}
input{
    outline: none;
}
textarea{
    outline: none;
}
*{
 padding: 0px;
 user-select: none;
 margin: 0px;
 font-family: 'Rubik', sans-serif;
}
.input{
    background-color: black;
    border-bottom: 3px solid gray;
    outline: none;

}
.sb::-webkit-scrollbar{
    background-color: rgba(128, 128, 128, 0.13);
    visibility: hidden;
}
.sb::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.323);
    visibility: hidden;
}
.sb::-webkit-scrollbar-track{
    height: 10vh;
}
.input::placeholder{
    /* color: rgba(0, 0, 0, 0.345); */
    opacity: 1;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}
@media (max-width: 640px){
   .diff{
    position: absolute;
    box-shadow: 4px 5px 20px 2px #0000000b;
    bottom: -80px;
    transform: translateX(-20px);
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
   }
   .diff2 {
       background-color: hsl(235, 24%, 19%);
   }
   .nav {
       background-image: url('./assets/bg-mobile-light.jpg');
   }
    .nav2 {
        background-image: url('./assets/bg-mobile-dark.jpg');
    }
}